In [39]:
import pandas as pd
import numpy as np

# INPUTS: 
Input the values you would like to filter by

In [40]:
# I think it makes more sense to include this later in the code
# if we have to pick out the cat's we want to keep, we want to
# pick from the relevant i.e. if you pick 6 of 50 cat 1's, then 
# your universe of cat 2's should shrink too. This requires a 
# first round of filtering through cat 1's though. 


#can do bool on and off switch. i.e. if ctime then run that step
#think as if KT/Nakrin know the Cat 1's, 2's, 3's for

# Step 0: Import Data

In [41]:
shops_gmv = pd.read_csv("shops_gmv_data.csv")
products_static = pd.read_csv("products_static_1607946056.csv")

#use the timestamp from products instead ^^ that will be time now. 
models_static = pd.read_csv("models_static_data.csv")

Change data types in dataframes to conserve memory:

In [42]:
def convert_to_cats(df, to_convert):
    '''
    Converts cols in to_convert_list to categories. 
    
    Inputs:
        df: a DataFrame
        to_convert: a list of column names (as strings)
                    we'd like to convert
    Returns:
        Nothing; modifies dataframe in place
    '''
    for col in df.columns:
        if col in to_convert:
            df[col] = df[col].astype("category")

In [43]:
to_convert_models = ['category_one', 'category_one_en',
                     'category_one_th', 'category_two',
                     'category_two_en', 'category_two_th',
                     'category_three', 'category_three_en',
                     'category_three_th']
convert_to_cats(models_static, to_convert_models)

to_convert_products = ['category_one', 'category_one_en',
                      'category_one_th', 'category_two', 
                      'category_two_en', 'category_two_th',
                      'category_three', 'category_three_en', 
                      'category_three_th', 'reviews_count_context', 
                      'reviews_count_image', 'shopee_verified', 
                      'show_discount']
convert_to_cats(products_static, to_convert_products)

to_convert_shops = ["shopid", "category_one", "category_two",
                    "category_three"]
convert_to_cats(shops_gmv, to_convert_shops)

In [44]:
def downcast_numbers(df):
    '''
    Downcasts floats and ints.
    
    Inputs:
        df: a DataFrame objecet. 
    Returns:
        Nothing; modifies list in place
    '''
    for col in df.columns:
        if df[col].dtype == "float":
            df[col] = pd.to_numeric(df[col], downcast="float")
        if df[col].dtype == "int":
            df[col] = pd.to_numeric(df[col], downcast="unsigned")

In [45]:
downcast_numbers(models_static)
downcast_numbers(products_static)
downcast_numbers(shops_gmv)

# Step 1: Category Filter

Filter our DataFrames to only keep rows with Categories we care for.

In [46]:
def filter_by_category(df, category_n, ok_cat_lst):
    '''
    Keeps rows in the df that have cats in ok_cat_lst. 
    
    Inputs:
        df: a DataFrame
        category_n: (str) eg. "category_one"
        ok_cat_lst: (lst) of acceptable cat for that 
          cat as numbers eg [50, 26]
    Returns:
        Nothing; modifies list in place
    '''
    
    mask = df[category_n].isin(ok_cat_lst)
    df = df[mask]

Here is a reference of category 1 names to their numbers:

In [9]:
#Cat 1 Mapping
mapping_1 = products_static[["category_one", "category_one_en"]].drop_duplicates()
mapping_1.set_index("category_one").dropna().sort_index()

                                      category_one_en
category_one
47                                    Women's fashion
48                                      Men's fashion
49                                                Bag
50                                        Accessories
51                                Watches and glasses
52                          Beauty and personal items
54                      Mobile phones and accessories
55                              Computers and laptops
56                              Cameras and equipment
57                                     Home appliance
58                   Toys - Mother and child products
60                           Home entertainment media
61                                              Other
147                     Sports and outdoor activities
1017                                      Men's Shoes
1315                      Stationary, Books and Music
2077                                    Women's Shoes
2083                                              Pet
2085                             Tickets and vouchers
9205                                   Food and drink
12996                      Home electrical appliances
14449                                   Motor vehicle
21732         Dietary supplements and health products
21830                           Games and accessories

In [10]:
def filter_by_category(df, category_n, ok_cat_lst):
    '''
    Keeps rows in the df that have cats in ok_cat_lst. 
    
    Inputs:
        df: a DataFrame
        category_n: (str) eg. "category_one"
        ok_cat_lst: (lst) of acceptable cat for that 
          cat as numbers eg [50, 26]
    Returns:
        The modified df 
    '''
    
    mask = df[category_n].isin(ok_cat_lst)
    return df[mask]

In [11]:
# Write the Cat 1's you want to keep
cat_lst_1 = [47, 49, 1017]
####################

models_static = filter_by_category(models_static, "category_one", cat_lst_1)
products_static = filter_by_category(products_static, "category_one", cat_lst_1) 
#can't iterate over models_static, products_static as a for loop for some reason

In [12]:
#Cat 2 Mapping
mapping_2 = products_static[["category_two", "category_two_en"]].drop_duplicates()
mapping_2.set_index("category_two").dropna().sort_index()

                    category_two_en
category_two
269                          Wallet
273                           Dress
875                           Shirt
883                           Skirt
887                           Pants
889               Jackets and Coats
891                        Jumpsuit
893                       Underwear
895                        Swimwear
899                           Other
1018                          Other
1037                       Backpack
1045                        Handbag
1049                     Brand name
1055                        Luggage
1059                      Cloth bag
1063                          Other
1115                          Boots
1117                       Slippers
1135                          Socks
10611                 Lace up shoes
10613              Lace-up sneakers
10615         Accessories for shoes
10685                     Sleepwear
10688            Plus size clothing
10782                  Shoulder bag
10785                    Flower bag
10789               Bag accessories
10800                        Clutch
13331                Big head shoes
13491              Slip-on sneakers
13495         Slip-on leather shoes
16337                          Sets
16551                Waterproof bag
21408         Muslim women clothing
21452                         Denim
21870                  Safety shoes
21872                 Student shoes
21887              Heel strap shoes

In [13]:
# Write the Cat 1's you want to keep
cat_lst_2 = [875, 887, 1117]
####################

models_static = filter_by_category(models_static, "category_two", cat_lst_2)
products_static = filter_by_category(products_static, "category_two", cat_lst_2)

In [14]:
#Cat 3 Mapping
mapping_3 = products_static[["category_three", "category_three_en"]].drop_duplicates()
mapping_3.set_index("category_three").dropna().sort_index()

                           category_three_en
category_three
5269                       Other Men'S Shoes
5272                          Slippers, Etc.
5370                         Other Underwear
5374                            Other Shirts
8627                           Short Dresses
8628                            Dress Length
8630                                    Vest
8631            Slice Off The Shoulder Shirt
8632                     Shirts Cross Laptop
8634                               Strapless
8635                          Vest / Singlet
8636                                   Shirt
8637                                    Polo
8655                           Coat Cardigan
8656                        Shirts, Sweaters
8666                                  Shorts
8667                                Trousers
8668                                Stocking
8669                                   Jeans
9189                           Wear Slippers
9190                        A Slipper Clutch
9266                           Sports Shorts
10598                          Shirt Cartoon
10710                                   Sexy
10723                             Turtleneck
10798                      Slippers His Head
16340                   Seth Shirt And Pants
21419           Short Dresses Above The Knee
21449                               Bodysuit
21450                      Over Sized Shirts
21888                             Slingbacks

In [15]:
# Write the Cat 1's you want to keep
cat_lst_3 = [8669, 8637, 9189, 9266, 10723, 21419, 10710]
####################

models_static = filter_by_category(models_static, "category_three", cat_lst_3)
products_static = filter_by_category(products_static, "category_three", cat_lst_3)

# Step 2: Keep only Established Products

Filter out products that have been sold for less than a specified time.

In [16]:
min_years = 1

In [17]:
from datetime import datetime
import math 

def filter_out_new_products(df, min_years):
    '''
    Filters out rows from our products_static df that 
    have been sold less than a specified time
    '''
    
    unix_time_now = math.ceil(datetime.now().timestamp())
    
    min_s = min_years * 365 * 24 * 60 * 60 
    
    mask = (unix_time_now - products_static["ctime"] > min_s)
    
    return df[mask]

products_static = filter_out_new_products(products_static, min_years)

# Step 2 1/2: Keep only Products that Sellers are Updating

Filter out products that have not been updated recently within some specified time

In [18]:
updated_previously_weeks = 2

In [19]:
def filter_out_unupdated_products(df, updated_previously_weeks):
    '''
    Filters out rows from our products_static df that 
    have been sold less than a specified time
    '''
    
    unix_time_now = math.ceil(datetime.now().timestamp())
    
    max_s = updated_previously_weeks * 7 * 24 * 60 * 60
    
    mask = (unix_time_now - products_static["modified_at"] < max_s)
    
    return df[mask]

products_static = filter_out_unupdated_products(products_static, updated_previously_weeks)

# Step 3: Brand Definition

Extract unique brand names from the remaining products

In [33]:
# Step 3: start makign the list of unique brands
brands_list = products_static["brand"].unique()
brands_list = np.delete(brands_list, np.where(brands_list == ('No Brand(ไม่มียี่ห้อ)')))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [38]:
brands_list

array(['Adda(แอ็ดด้า)', 'Red Apple(เรดแอปเปิ้ล)', nan, 'Rudedog(รูทด็อก)'],
      dtype=object)

In [36]:
np.isnan(brands_list)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [37]:
pd.isnull(brands_list)

array([False, False,  True, False])

# Step 4: GMV Filter

Filter our brands_list for those brands that have not generated a minimum GMV over the last 30 days.

In [24]:
min_gmv = 0

In [25]:
Step 3 - > GMV filter

- For each unique brand, calculate the GMV generated for the last 30 days

- [If X is defined] If last 30 day GMV is less than X, remove or else keep

- [If X is not defined] keep

- If keep then store the 30-day GMV value

SyntaxError: invalid syntax (<ipython-input-25-7e76b2254f73>, line 1)